<!DOCTYPE html>
<html lang="lt">
  <head>
    <meta charset="UTF-8" />
    <title>Projektai</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h4>Projektu lentele</h4>
    <form action="" method="get">
      <p><input type="text" name="searchlaukelis" /></p>
      <p><input type="submit" value="filtruoti" /></p>
    </form>
    {% for elem in projektas_rows %}
    <p>{{ elem }}</p>
    <a href="/projektai/{{ elem.id }}">Ziureti</a>
    <a href="/redaguoti-projekta/{{ elem.id }}">Redaguoti</a>
    <form action="/trinti-projekta/{{ elem.id }}" method="post">
      <input type="submit" value="Trinti" />
    </form>
    {% endfor %}
  </body>
</html>
