<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h2>Add company</h2>
    <form action="/add-employee" method="post">
      <p>Employee name</p>
      <p>
        <input type="text" name="namebar" value="{{ one_employee_row.name }}" />
      </p>
      <p>Employee Surname</p>
      <p>
        <input
          type="text"
          name="surnamebar"
          value="{{ one_employee_row.surname }}"
        />
      </p>
      <p>Employee Position</p>
      <p>
        <input
          type="text"
          name="positionbar"
          value="{{ one_employee_row.position }}"
        />
      </p>
      <p>Company</p>
      <p>
        <input
          type="number"
          name="companyidbar"
          value="{{ one_employee_row.company_id }}"
        />
      </p>
      <p><input type="submit" value="Save" /></p>
    </form>
  </body>
</html>
