<!DOCTYPE html>
<html lang="lt"><head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body>
        <form action="/add-student" method="post">
            <p>Students name</p>
            <p><input type="text" name="name"></p>
            <p>Students surname</p>
            <p><input type="text" name="surname"></p>
            <p>Students grade</p>
            <p><input type="number" name="grade"></p>
            <p><input type="submit" value="Save"></p>
        </form>
    </body>
</html>